<div id="member">
  <div class="member-item">
    <div class="member-item-professor">
      <h1>담당 교수님</h1>
      <p>- 성함 교수님</p>
    </div>
  </div>

  <div class="member-item">
    <div class="member-item-title">
      <h1>운영진</h1>
    </div>
    <div class="member-item-content">

      <div class="member-item-content-card">
        <div class="member-item-content-card-img">
          <img src="{% static 'images/' %}" alt="프로필">
          <p>회장</p>
        </div>
        <div class="member-item-content-card-info">
          <h1>홍길동</h1>
          <h2>22학번</h2>
        </div>
        <div class="member-item-content-card-btn">
          <div class="member-btn member-btn-year"><p>#<span>2023</span></p></div>
        </div>
        <div class="member-item-content-card-btn">
          <div class="member-btn member-btn-field"><p>#<span>Front-End</span></p></div>
          <div class="member-btn member-btn-field"><p>#<span>Back-End</span></p></div>
          <div class="member-btn member-btn-field"><p>#<span>Server</span></p></div>
        </div>
        <div class="member-item-content-card-btn">
          <div class="member-btn member-btn-skill"><p>#<span>Python</span></p></div>
          <div class="member-btn member-btn-skill"><p>#<span>Java</span></p></div>
          <div class="member-btn member-btn-skill"><p>#<span>Spring</span></p></div>
        </div>
      </div>

    </div>
  </div>

  <div class="member-item">
    <div class="member-item-title">
      <h1>부원</h1>
    </div>
    <div class="member-item-content">
      <div class="member-item-content-card">
        <div class="member-item-content-card-img">
        </div>
        <div class="member-item-content-card-info">
        </div>
      </div>
    </div>
  </div>
</div>