<div id="its">
  <div class="its-con its-con1">
    <h1>한양여자대학교 소프트웨어융합과 과동아리 IT’s(아이티스)에 어서오세요.</h1>
    <p>한양여자대학교 소프트웨어융합과에 재학 중인 학생이라면 누구나 함께할 수 있어요.<br>
      부원과 함께 성장해 나가는 동아리, 아이티스입니다 :)</p>
  </div>
  <div class="its-con its-con2">
    <div class="its-con2-img">
    </div>
    <div class="its-con2-txt">
      <h1>이런 고민을 해결하고 싶다면?</h1>
        <ul>
          <li><p>· 선후배와의 교류가 부족해요.</p></li>
          <li><p>· 취업한 선배들의 이야기가 궁금해요.</p></li>
          <li><p>· 발표에 자신이 없어요.</p></li>
          <li><p>· 직접적인 팀플과 프로젝트 경험이 필요해요.</p></li>
          <li><p>· 포트폴리오를 채우고 싶은데 어떻게 해야 할지 모르겠어요.</p></li>
          <li><p>· 혼자서 하는 스터디는 따분하고 금방 지쳐요.</p></li>
          <li><p>· 동기들과 친해지고 싶어요.</p></li>
        </ul>
    </div>
  </div>
  <div class="its-con its-con3">
    <div class="its-con3-img">
    </div>
    <div class="its-con3-txt">
      <h1>아이티스에서는 이런 활동을 해요.</h1>
        <ul>
          <li><p>· 오티와 다양한 세미나를 통해 지식을 습득해요.</p></li>
          <li><p>· 원하는 분야의 팀 스터디&amp;프로젝트에 참여해요.<br>&nbsp;&nbsp;(언어, 자격증, 웹, 게임 중 택)</p></li>
          <li><p>· 매달 1회 정기 발표회를 진행하며 발표 경험도 쌓을 수 있어요.</p></li>
          <li><p>· 취업 선배와의 만남을 통해 궁금한 점을 해결할 수 있어요.</p></li>
          <li><p>· 프로젝트를 진행하고, 축제 부스를 운영해요.</p></li>
          <li><p>· 아이스브레이킹, 회식 등에 자율 참여하며 부원들과 친해져요.</p></li>
        </ul>
    </div>
  </div>
  <div class="its-con its-con4">
    <div class="its-con4_1">
      <h1>#아이티스_3_4월_일정</h1>
      <ul>
        <li><p>· 아이티스는 3월 초에 신규 부원을 모집해요.</p></li>
        <li><p>· 한양여자대학교 소프트웨어융합과에 재학 중인<br>&nbsp;&nbsp;1~4학년이라면 누구나 지원할 수 있어요.</p></li>
        <li><p>· 신규 부원 모집은 3월에! 그 이외의 추가 모집은<br>&nbsp;&nbsp;진행하지 않아요.</p></li>
        <li><p>· 모집을 완료한 후에 오티와 세미나를 진행해요.</p></li>
        <li><p>· 오티와 세미나를 통해 아이티스의 자세한 활동<br>&nbsp;&nbsp;방식과 일정에 대해 알 수 있어요.</p></li>
        <li><p>· 오티, 세미나, 팀 배정을 모두 마친 4월 초부터<br>&nbsp;&nbsp;본격적인 활동이 시작됩니다!</p></li>
      </ul>
    </div>
    <div class="its-con4_2">
      <h1>#아이티스_구성도</h1>
      <div class="its-con4_2-img">
      </div>
    </div>
  </div>
  <div class="its-con its-con5">
    <h1>#아이티스_사진첩</h1>
  </div>
</div>