.info_main {
  border: solid 1px darkblue;
  margin-top: 170px;
  width: 100%;
  height: 100%;
  display: flex;
}


/* 사이드메뉴 디자인 */
.sidemenu {
  border: solid 1px salmon;
  width: 245px;
  height: 100%;
}

.sidemenu-item {
  margin-bottom: 25px;
}

.sidemenu-item-title {
  margin-bottom: 8px;
  align-items: center;
  display: inline-flex;
  cursor: pointer;
}

.sidemenu-item-title:hover {
  color: var(--color-green);
}

.bi-chevron-right {
  margin-right: 10px;
  font-size: 15px;
  cursor: pointer;
}

.bi-chevron-down {
  margin-right: 10px;
  font-size: 15px;
}

.sidemenu ul li h1 {
  font-weight: 600;
  font-size: 20px;
}

.sidemenu ul li h2 {
  color: var(--color-grey2);
  font-weight: 500;
  font-size: 16px;
}

.sidemenu-item-content {
  margin-left: 26px;
  display: none;
}

.visible {
  display: flex;
}

.sidemenu-item-content li {
  margin-bottom: 6px;
}

.sidemenu-item-content li:last-child {
  margin-bottom: 0;
}

.sidemenu-item-content li h2 {
  display: inline-block;
  cursor: pointer;
}

.sidemenu-item-content li h2:hover {
  color: var(--color-green);
}


/* info_its 디자인 */
#its {
  border: solid 1px goldenrod;
  width: 955px;
  height: 100%;
}

#its h1 {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 20px;
}

#its p {
  color: var(--color-grey2);
  font-weight: 500;
  font-size: 20px;
}

#its ul li {
  margin-bottom: 8px;
}

#its ul li:last-child {
  margin-bottom: 0px;
}

.its-con {
  margin-bottom: 80px;
}

.its-con2 {
  display: flex;
}

.its-con2-img {
  background-color: var(--color-grey3);
  margin-right: 30px;
  width: 400px;
  height: 250px;
}
.its-con3 {
  display: flex;
}

.its-con3-img {
  background-color: var(--color-grey3);
  margin-right: 30px;
  width: 400px;
  height: 250px;
}

.its-con4 {
  display: flex;
}

.its-con4_1 {
  margin-right: 55px;
  width: 400px;
}

.its-con4_1 ul li:nth-child(3) {
  margin-bottom: 30px !important;
}

.its-con4_2-img {
  background-color: var(--color-grey3);
  width: 500px;
  height: 300px;
}


/* info_year 디자인 */
#member {
  border: solid 1px goldenrod;
  width: 955px;
  height: 100%;
}

.member-item {
  margin-bottom: 30px;
  width: 100%;
  height: 100%;
}

.member-item-professor {
  display: flex;
  align-items: center;
}

.member-item-professor h1 {
  margin-right: 20px;
  font-weight: 600;
  font-size: 20px;
}

.member-item-professor p {
  font-weight: 600;
  font-size: 16px;
}

.member-item-title h1 {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 20px;
}

.member-item-content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px; 
}

.member-item-content-card {
  border: solid 1px var(--color-black);
  border-radius: 10px;
  padding: 15px;
  width: 175px;
  height: 282px;
}

.member-item-content-card-img {
  background-color: var(--color-grey3);
  border-radius: 8px;
  margin-bottom: 10px;
  width: 145px;
  height: 120px;
  position: relative;
}

.member-item-content-card-img p {
  color: var(--color-white);
  right: 10px;
  bottom: 5px;
  position: absolute;
  font-weight: 700;
  font-size: 16px;
}

.member-item-content-card-info h1 {
  font-weight: 600;
  font-size: 16px;
}

.member-item-content-card-info h2 {
  margin-bottom: 5px;
  color: var(--color-grey1);
  font-weight: 400;
  font-size: 13px;
}

.member-item-content-card-btn {
  margin-top: 5px;
  width: 145px;
  display: flex;
  overflow: hidden;
}

.card-btn {
  margin-right: 5px;
  border-radius: 6px;
  padding: 5px 7px;
  flex-shrink: 0;
}

.card-btn p {
  font-weight: 500;
  font-size: 10px;
}

.card-btn-year {
  border: 1.5px solid var(--color-grey3);
}

.card-btn-field {
  border: 1.5px solid var(--color-green);
}

.card-btn-skill {
  border: 1.5px solid var(--color-yellow);
}